.buttons {
    display: flex;
    justify-content: center;
    height: 25px;
    width: auto;
    margin: 110px;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

